---
import AuthGuard from "../components/solid/AuthGuard";
import Navbar from "../components/solid/Navbar";
import Sidebar from "../components/solid/Sidebar";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<AuthGuard client:only="solid">
  <BaseLayout>
    <div class="flex w-full">
      <Sidebar client:only="solid" />
      <div class="w-full">
        <Navbar client:only="solid" />
        <main class="h-screen p-4 overflow-x-hidden overflow-y-auto">
          <slot />
        </main>
      </div>
    </div>
  </BaseLayout>
</AuthGuard>
